@model IEnumerable<AppleStoreStuff.Models.Mac>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.MacModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfProduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfProduct)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/@item.MacModel-@item.Color-@item.ScreenSize .webp"
                     alt="@item.MacModel-@item.Color-@item.ScreenSize-img" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MacModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfProduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfProduct)
            </td>
        </tr>
}
    </tbody>
</table>
