@model IEnumerable<AppleStoreStuff.Models.IPhone>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <br>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                Model
            </th>
            <th>
                Memory
            </th>
            <th>
                Color
            </th>
            <th>
                Price
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/@item.IPhoneModel-@item.Color .webp" alt="@item.IPhoneModel-@item.Color-img" />
            </td>
            <td style="padding-top: 100px;">
                @Html.DisplayFor(modelItem => item.IPhoneModel)
            </td>
            <td style="padding-top: 100px;">
                @Html.DisplayFor(modelItem => item.Memory)
            </td>
            <td style="padding-top: 100px;">
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td style="padding-top: 100px;">
                $ @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="padding-top: 100px;">
                @Html.DisplayFor(modelItem => item.AmountOfProduct)
            </td>
        </tr>
}
    </tbody>
</table>
